@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Black.woff") format("woff");
}
@font-face {
  font-family: "GothamLight";
  src: url("/fonts/Gotham-Light.woff") format("woff");
}
@font-face {
  font-family: "GothamRegular";
  src: url("/fonts/GothamMedium.woff") format("woff");
}
