* {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: GothamLight;
  padding: 0 15px 0 15px;
}
main {
  height: 100vh;
}
h1 {
  margin-top: 8vh;
  font-family: GothamLight;
  font-size: 34px;

  span {
    font-family: GothamRegular;
  }
}
h2 {
  font-family: GothamLight;
  font-size: 26px;
  margin-top: 2vh;
  span {
    font-family: GothamRegular;
  }
}
article {
  line-height: 22px;
  font-size: 18px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 60vh;
  span {
    font-family: GothamRegular;
  }
}
.down_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0%;
  .down_arrow__img {
    width: 50px;
    animation: 2.5s infinite;
    animation-name: moveDown;
  }
}
.projects {
  height: 100vh;
  text-align: center;

  h2 {
    padding-top: 20px;
  }
}
.contact {
  background-color: white;
  color: black;
  font-family: Gotham;
  width: 100px;
  height: 126x;
  position: fixed;
  top: 20vh;
  right: -70px;
  transition: 1s;

  p {
    margin-left: 8px;
  }
}
.open {
  transform: translateX(-70px);
}
