@media (min-width: 740px) {
  main {
    h1 {
      display: none;
    }
    h2 {
      display: none;
    }
  }
  .header {
    width: 140px;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;

    ul {
      height: 100vh;
      display: flex;
      flex-direction: column;

      li {
        padding-top: 50px;
      }
    }
    hr {
      width: 1px;
      height: 100%;
      position: absolute;
      top: -8px;
      right: 0;
    }

    .github {
      width: 60%;
    }
    .linkedin {
      width: 60%;
    }
  }
  article {
    width: 40vw;
    height: 70vh;
    padding: 0 3vw 0 3vw;
    border: solid;
    margin-left: 200px;
    margin-top: 130px;
  }
  .mypicture {
    position: absolute;
    top: 50px;
    right: 180px;
    display: flex;
    border: solid;
    width: 35vw;
    height: 620px;
  }
  .down_arrow {
    display: none;
  }
}
